.partner-section {
  width: 100%;
  margin-top: 48px;
}

.partner-top-img-bg {
  width: 100%;
  height: auto;
}
/*-----*/
.partner-main {
  width: 100%;
  padding: 67px 21px;
  background-color: #252525;
}
.partner-main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.partner-main-title {
  width: 295px;
  color: #e6ecf2;
  text-align: center;
  font-family: 'Roboto Mono';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 127.273% */
  margin-bottom: 27px;
}
.partner-main-pixel-text {
  color: #e6ecf2;
  font-family: 'Pixelify Sans';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.partner-main-custom-title {
  color: #8695ad;
  font-family: 'Roboto Mono';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.partner-main-text {
  color: #e6ecf2;
  text-align: center;
  font-family: 'Roboto Mono';
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 133.333% */
  letter-spacing: 0.864px;
  width: 276px;
}
.partner-talk-button {
  width: 290px;
  margin-top: 17px;
  margin-bottom: 17px;
  display: flex;
  padding: 10px 116px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #080808;
  opacity: 0.9;
  background: #f7f5ee;
  box-shadow: 4px 4px 0px 0px #000;

  color: #252525;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
