<section class="choose-section">
  <img class="picture-choose" src="/img/choose/choose-top-img.png" />
  <div class="choose-section-content">
    <div class="choose-box-title">
      <h2 class="choose-title">Why choose</h2>
      <svg class="choose-title-icon">
        <use href="/img/symbol.svg#icon-careers-about-title"></use>
      </svg>
      <h2 class="choose-title">?</h2>
    </div>

    <div class="choose-box-cards">
      <div class="choose-card">
        <h3 class="choose-title-card">From idea to execution</h3>
        <p class="choose-text-card">
          We don’t just write code — we turn concepts into fully functional
          products. From architecture and development to deployment and support,
          we guide you through every stage.
        </p>
      </div>
      <div class="choose-card">
        <h3 class="choose-title-card">Expertise that delivers</h3>
        <p class="choose-text-card">
          We specialize in Web3 development, combining deep industry knowledge
          with hands-on experience. Our team ensures your project is built with
          precision, efficiency, and innovation.
        </p>
      </div>
      <div class="choose-card">
        <h3 class="choose-title-card">Agile & Scalable Development</h3>
        <p class="choose-text-card">
          With a flexible approach and cutting-edge technology, we build
          scalable solutions that handle high demand and adapt seamlessly to
          evolving requirements.
        </p>
      </div>
      <div class="choose-card">
        <h3 class="choose-title-card">Trust & Security First</h3>
        <p class="choose-text-card">
          In blockchain, trust is everything. We prioritize security, conduct
          thorough smart contract audits, and implement robust data protection
          measures to ensure your product is reliable and secure.
        </p>
      </div>
    </div>
  </div>
</section>
