<header class="header">
  <img
    src="/img/header/logo.png"
    alt="logo"
    class="logo"
    width="88"
    height="30.943"
  />
  <nav class="nav-desktop">
    <ul class="nav-list">
      <li class="list-item-menu">
        <svg width="19" height="19" class="header-svg">
          <use href="/img/symbol.svg#icon-main"></use>
        </svg>
        <a href="../../index.html">Main</a>
      </li>
      <li class="list-item-menu">
        <svg width="19" height="19" class="header-svg">
          <use href="/img/symbol.svg#icon-about"></use>
        </svg>
        <a href="../../about.html">About</a>
      </li>
      <li class="list-item-menu">
        <svg width="19" height="19" class="header-svg">
          <use href="/img/symbol.svg#icon-cases"></use>
        </svg>
        <a href="../../cases.html">Cases</a>
      </li>
      <li class="list-item-menu">
        <svg width="19" height="19" class="header-svg">
          <use href="/img/symbol.svg#icon-careers"></use>
        </svg>
        <a href="../../careers.html">Careers</a>
      </li>
    </ul>
  </nav>
  <div class="menu-contact-wrapper">
    <a type="button" class="contact-btn">Contact us</a>
  </div>

  <div class="box-navigation">
    <nav class="nav">
      <ul class="nav-list">
        <li class="list-item-menu">
          <svg width="19" height="19" class="header-svg">
            <use href="/img/symbol.svg#icon-main"></use>
          </svg>
          <a href="../../index.html">Main</a>
        </li>
        <li class="list-item-menu">
          <svg width="19" height="19" class="header-svg">
            <use href="/img/symbol.svg#icon-about"></use>
          </svg>
          <a href="../../about.html">About</a>
        </li>
        <li class="list-item-menu">
          <svg width="19" height="19" class="header-svg">
            <use href="/img/symbol.svg#icon-cases"></use>
          </svg>
          <a href="../../cases.html">Cases</a>
        </li>
        <li class="list-item-menu">
          <svg width="19" height="19" class="header-svg">
            <use href="/img/symbol.svg#icon-careers"></use>
          </svg>
          <a href="../../careers.html">Careers</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-btn">
      <svg width="24" height="24">
        <use href="/img/symbol.svg#icon-mobile-menu"></use>
      </svg>
    </button>
  </div>
</header>
