<section class="careers-about">
  <div class="about-title-box">
    <h2 class="about-title">About</h2>
    <svg class="title-svg">
      <use href="/img/symbol.svg#icon-careers-about-title"></use>
    </svg>
  </div>

  <p class="about-first-text">
    Founded in 2024, HashTech is a globally distributed team of 15+ Web3 experts
    building cutting-edge blockchain solutions. From smart contracts to scalable
    dApps, we craft high-performance products that redefine decentralized
    technology.
  </p>
  <p class="about-second-text">
    We thrive on innovation, agility, and security, delivering robust
    architectures and seamless user experiences. Join us to push the boundaries
    of Web3 and shape the future of decentralized ecosystems.
  </p>
</section>
