<section>
  <div>
    <h2>About</h2>
    <svg width="24" height="24">
      <use href="/img/symbol.svg#"></use>
    </svg>
  </div>

  <p>
    Founded in 2024, HashTech is a globally distributed team of 15+ Web3 experts
    building cutting-edge blockchain solutions. From smart contracts to scalable
    dApps, we craft high-performance products that redefine decentralized
    technology.
  </p>
  <p>
    We thrive on innovation, agility, and security, delivering robust
    architectures and seamless user experiences. Join us to push the boundaries
    of Web3 and shape the future of decentralized ecosystems.
  </p>
</section>
