<section class="footer">
  <div class="header-of-footer">
    <div class="box-left-head-footer">
      <img src="/img/footer/footer-logo.png" alt="logo" class="logo-footer" />
      <p class="footer-description-desktop">
        Copyrights are reserved. All works are protected by copyright of the
        corresponding authors.
      </p>
    </div>
    <div class="box-right-head-footer">
      <button type="button" class="linkedin-button">
        <svg class="footer-svg">
          <use href="/img/symbol.svg#icon-linkedin"></use>
        </svg>
      </button>
      <button type="button" class="twitter-button">
        <svg class="footer-svg">
          <use href="/img/symbol.svg#icon-twitter"></use>
        </svg>
      </button>
      <button type="button" class="button-book-a-call">Book a call</button>
    </div>
  </div>
  <p class="footer-description">
    Copyrights are reserved. All works are protected by copyright of the
    corresponding authors.
  </p>
  <div class="box-links-nav">
    <div class="lists-links">
      <ul class="list-of-link-footer">
        <li class="title-list-of-link-footer"><p>Services</p></li>
        <li class="link-footer"><a href="">Fintech</a></li>
        <li class="link-footer"><a href="">Martech</a></li>
        <li class="link-footer"><a href="">DevOps</a></li>
        <li class="link-footer"><a href="">Manual QA</a></li>
        <li class="link-footer"><a href="">Auto QA</a></li>
        <li class="link-footer"><a href="">Team augmentation</a></li>
        <li class="link-footer"><a href="">Team extension</a></li>
        <li class="link-footer"><a href="">Neo banking</a></li>
        <li class="link-footer"><a href="">Embedded</a></li>
        <li class="link-footer"><a href="">ERP</a></li>
      </ul>

      <ul class="list-of-link-footer">
        <li class="title-list-of-link-footer"><p>Mobile & iGaming</p></li>
        <li class="link-footer"><a href="">Mobile development</a></li>
        <li class="link-footer"><a href="">Android development</a></li>
        <li class="link-footer"><a href="">iOS development</a></li>
        <li class="link-footer"><a href="">Cross platform</a></li>
        <li class="link-footer"><a href="">Flutter</a></li>
        <li class="link-footer"><a href="">Wallets</a></li>
        <li class="link-footer"><a href="">Trading platforms</a></li>
        <li class="link-footer"><a href="">Enterprise Apps</a></li>
        <li class="link-footer"><a href="">Hybrid Apps</a></li>
        <li class="link-footer"><a href="">Random Number Generator</a></li>
      </ul>
      <ul class="list-of-link-footer">
        <li class="title-list-of-link-footer"><p>Machine learning & AI</p></li>
        <li class="link-footer"><a href="">Machine Learning</a></li>
        <li class="link-footer"><a href="">ML Classification</a></li>
        <li class="link-footer"><a href="">ML forecast</a></li>
        <li class="link-footer"><a href="">ML Anomaly detection</a></li>
        <li class="link-footer"><a href="">ML Recommendation systems</a></li>
        <li class="link-footer"><a href="">ML increase sales</a></li>
        <li class="link-footer"><a href="">ML increase profits</a></li>
        <li class="link-footer"><a href="">ML price optimization</a></li>
        <li class="link-footer"><a href="">ML Improve UX</a></li>
        <li class="link-footer"><a href="">Data science</a></li>
      </ul>
      <ul class="list-of-link-footer">
        <li class="title-list-of-link-footer"><p>Blockchain</p></li>
        <li class="link-footer"><a href="">Blockchain</a></li>
        <li class="link-footer"><a href="">DeFi development</a></li>
        <li class="link-footer"><a href="">DLT</a></li>
        <li class="link-footer"><a href="">Smart contracts</a></li>
        <li class="link-footer"><a href="">Crypto exchange</a></li>
        <li class="link-footer"><a href="">P2E Games</a></li>
        <li class="link-footer"><a href="">Staking platforms</a></li>
        <li class="link-footer"><a href="">Crypto wallet</a></li>
        <li class="link-footer"><a href="">Web3</a></li>
        <li class="link-footer"><a href="">Cryptocurrency</a></li>
      </ul>
    </div>
    <nav class="nav-footer">
      <ul class="list-navigation-footer">
        <li class="nav-item-footer"><a href="../../index.html">Main</a></li>
        <li class="nav-item-footer"><a href="../../about.html">About</a></li>
        <li class="nav-item-footer">
          <a href="../../cases.html">Cases</a>
        </li>
        <li class="nav-item-footer">
          <a href="../../careers.html">Careers</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
