<section class="opportunities-section">
  <h2 class="opportunities-title">/ Explore New Opportunities /</h2>
  <div class="box-navigation-butons-opportunities">
    <button class="top-nav-button" type="button">All</button>
    <button class="top-nav-button" type="button">Back-end</button>
    <button class="top-nav-button" type="button">Front-end</button>
    <button class="top-nav-button" type="button">Sales</button>
    <button class="top-nav-button" type="button">Design</button>
  </div>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card-content">
          <div class="box-info-card">
            <h3 class="title-card">Lead Software Developer</h3>
            <p class="description-card">
              Join our team as a Lead Software Developer to architect and
              execute pioneering software solutions
            </p>
          </div>
          <div class="down-menu-card">
            <button class="geo-button" type="button">
              <img
                class="geo-img"
                src="/img/opportunities/geo-position.png"
                alt="geo"
              />
              <p>Remote</p>
            </button>
            <button class="button-find" type="button">Find Out More</button>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="card-content">
          <div class="box-info-card">
            <h3 class="title-card">Lead Software Developer</h3>
            <p class="description-card">
              Join our team as a Lead Software Developer to architect and
              execute pioneering software solutions
            </p>
          </div>
          <div class="down-menu-card">
            <button class="geo-button" type="button">
              <img
                class="geo-img"
                src="/img/opportunities/geo-position.png"
                alt="geo"
              />
              <p class="text-bth-geo">Remote</p>
            </button>
            <button class="button-find" type="button">Find Out More</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-content">
          <div class="box-info-card">
            <h3 class="title-card">Lead Software Developer</h3>
            <p class="description-card">
              Join our team as a Lead Software Developer to architect and
              execute pioneering software solutions
            </p>
          </div>
          <div class="down-menu-card">
            <button class="geo-button" type="button">
              <img
                class="geo-img"
                src="/img/opportunities/geo-position.png"
                alt="geo"
              />
              <p class="text-bth-geo">Remote</p>
            </button>
            <button class="button-find" type="button">Find Out More</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-content">
          <div class="box-info-card">
            <h3 class="title-card">Lead Software Developer</h3>
            <p class="description-card">
              Join our team as a Lead Software Developer to architect and
              execute pioneering software solutions
            </p>
          </div>
          <div class="down-menu-card">
            <button class="geo-button" type="button">
              <img
                class="geo-img"
                src="/img/opportunities/geo-position.png"
                alt="geo"
              />
              <p class="text-bth-geo">Remote</p>
            </button>
            <button class="button-find" type="button">Find Out More</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-content">
          <div class="box-info-card">
            <h3 class="title-card">Lead Software Developer</h3>
            <p class="description-card">
              Join our team as a Lead Software Developer to architect and
              execute pioneering software solutions
            </p>
          </div>
          <div class="down-menu-card">
            <button class="geo-button" type="button">
              <img
                class="geo-img"
                src="/img/opportunities/geo-position.png"
                alt="geo"
              />
              <p class="text-bth-geo">Remote</p>
            </button>
            <button class="button-find" type="button">Find Out More</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card-content">
          <div class="box-info-card">
            <h3 class="title-card">Lead Software Developer</h3>
            <p class="description-card">
              Join our team as a Lead Software Developer to architect and
              execute pioneering software solutions
            </p>
          </div>
          <div class="down-menu-card">
            <button class="geo-button" type="button">
              <img
                class="geo-img"
                src="/img/opportunities/geo-position.png"
                alt="geo"
              />
              <p class="text-bth-geo">Remote</p>
            </button>
            <button class="button-find" type="button">Find Out More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-nav">
    <button class="swiper-button-prev">
      <svg class="icon-cases-left">
        <use href="/img/symbol.svg#icon-cases-left"></use>
      </svg>
    </button>

    <button class="swiper-button-next">
      <svg class="icon-cases-right">
        <use href="/img/symbol.svg#icon-cases-right"></use>
      </svg>
    </button>
  </div>
</section>
