<section class="role-section">
  <img
    class="role-top-img-bg"
    src="../../img/role/role-small-desktop-bg-top.png"
    alt=""
  />
  <div class="role-careers">
    <div class="role-careers-content">
      <h2 class="role-careers-title">
        Haven’t found the
        <span class="role-careers-pixel-text"> perfect </span>role?
      </h2>
      <div class="role-box-without-title">
        <p class="role-careers-text">
          We’re always on the lookout for top talent<br />
          Whether you’re a high-impact influencer
        </p>
        <button class="role-talk-button" type="button">Let’s talk!</button>
        <p class="role-careers-text">
          or a seasoned expert ready to disrupt your industry—let’s build the
          future together
        </p>
      </div>
    </div>
  </div>
</section>
