<section class="bild-kohd">
  <h1 class="general-title-bild-kohd">/BILD & KOHd/</h1>
  <div class="box-stack">
    <h2 class="title-stack">Stack</h2>
    <div class="box-stack-information">
      <ul class="stack-list">
        <li>
          <p class="text-stack">
            <span class="title-text-stack">Frontend:</span> React, Typescript,
            JavaScript
          </p>
        </li>

        <li>
          <p class="text-stack">
            <span class="title-text-stack">Backend:</span> NodeJS, Typescript,
            Postgres, Subgraph
          </p>
        </li>

        <li>
          <p class="text-stack">
            <span class="title-text-stack">Blockchain:</span> Ethereum, Solidity
          </p>
        </li>
        <li>
          <p class="text-stack">
            <span class="title-text-stack">Infrastructure:</span> CloudFlare,
            DigitalOcean
          </p>
        </li>
      </ul>
      <p class="text-description-stack">
        Blockchain developers at hashtech can assist you with creating robust
        blockchain-powered applications and distributed system
      </p>
    </div>
  </div>
  <ul class="constructor">
    <li class="constructor-box-left">
      <p class="constructor-text-left">Blockchain apps development</p>

      <picture class="constructor-img-left">
        <source
          srcset="/img/bild-kohd/small-desktop-bild-kohd-contructor-left.png"
          media="(min-width: 1440px)"
        />
        <source
          srcset="/img/bild-kohd/tablet-bild-kohd-contructor-left.png"
          media="(min-width: 769px) and (max-width: 1439px)"
        />
        <source
          srcset="/img/bild-kohd/mobile-bild-kohd-contructor-left.png"
          media="(max-width: 768px)"
        />
        <img src="/img/bild-kohd/mobile-bild-kohd-contructor-left.png" alt="" />
      </picture>
    </li>

    <li class="constructor-box-down-left">
      <picture class="constructor-img-down-left">
        <source
          srcset="
            /img/bild-kohd/small-desktop-bild-kohd-contructor-down-left.png
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="/img/bild-kohd/tablet-bild-kohd-contructor-down-left.png"
          media="(min-width: 769px) and (max-width: 1439px)"
        />
        <source
          srcset="/img/bild-kohd/mobile-bild-kohd-contructor-down-left.png"
          media="(max-width: 768px)"
        />
        <img
          src="/img/bild-kohd/mobile-bild-kohd-contructor-down-left.png"
          alt=""
        />
      </picture>
      <p class="constructor-text-down-left">AI Agents</p>
    </li>

    <li class="constructor-box-top">
      <picture class="constructor-img-top">
        <source
          srcset="/img/bild-kohd/small-desktop-bild-kohd-contructor-top.png"
          media="(min-width: 1440px)"
        />
        <source
          srcset="/img/bild-kohd/tablet-bild-kohd-contructor-top.png"
          media="(min-width: 769px) and (max-width: 1439px)"
        />
        <source
          srcset="/img/bild-kohd/mobile-bild-kohd-contructor-top.png"
          media="(max-width: 768px)"
        />
        <img src="/img/bild-kohd/mobile-bild-kohd-contructor-top.png" alt="" />
      </picture>
      <p class="constructor-text-top">Tap 2 Earn games development</p>
    </li>

    <li class="constructor-box-right">
      <p class="constructor-text-right">DeFi apps development</p>
      <picture class="constructor-img-right">
        <source
          srcset="/img/bild-kohd/small-desktop-bild-kohd-contructor-right.png"
          media="(min-width: 1440px) "
        />
        <source
          srcset="/img/bild-kohd/tablet-bild-kohd-contructor-right.png"
          media="(min-width: 769px) and (max-width: 1439px)"
        />
        <source
          srcset="/img/bild-kohd/mobile-bild-kohd-contructor-right.png"
          media="(max-width: 768px)"
        />
        <img
          src="/img/bild-kohd/mobile-bild-kohd-contructor-right.png"
          alt=""
        />
      </picture>
    </li>

    <li class="constructor-box-down-right">
      <picture class="constructor-img-down-right">
        <source
          srcset="
            /img/bild-kohd/small-desktop-bild-kohd-contructor-down-right.png
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="/img/bild-kohd/tablet-bild-kohd-contructor-down-right.png"
          media="(min-width: 769px) and (max-width: 1439px)"
        />
        <source
          srcset="/img/bild-kohd/mobile-bild-kohd-contructor-down-right.png"
          media="(max-width: 768px)"
        />
        <img
          src="/img/bild-kohd/mobile-bild-kohd-contructor-down-right.png"
          alt=""
        />
      </picture>
      <p class="constructor-text-down-right">Smart Contracts development</p>
    </li>
    <li>
      <svg class="constructor-icon-cursore">
        <use href="/img/symbol.svg#icon-cursore"></use>
      </svg>
    </li>
  </ul>
</section>
