<section class="cases-main">
  <h2 class="cases-title-main">
    See our <span class="custom-cases-title-main">cases</span>
  </h2>
  <button class="cases-main-all-button" type="button">All</button>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card">
          <div class="card-content">
            <h3 class="cases-card-title">Yeet</h3>
            <p class="cases-text-card">
              A DeFi hit on Berachain:
              <span class="span-price-cases">$12.79M+</span> market cap, 30K+
              stakers,
              <span class="span-price-cases">4.33M+ transactions</span>, and a
              sold-out NFT collection.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <div class="card-content">
            <h3 class="cases-card-title">Not pixel</h3>
            <p class="cases-text-card">
              A Telegram-based pixel art game with 10M+ pixel placements and a
              thriving creative community
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <div class="card-content">
            <h3 class="cases-card-title">Qappi</h3>
            <p class="cases-text-card">
              A Web3 engagement platform with
              <span class="span-price-cases">12M+</span> on-chain transactions
              and a branded tea line
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <div class="card-content">
            <h3 class="cases-card-title">Angry miner</h3>
            <p class="cases-text-card">
              A P2E success with
              <span class="span-price-cases">480K+ DAU</span>,
              <span class="span-price-cases">$2.59M+</span> in player
              transactions, and <span class="span-price-cases">120K+</span> user
              deposits
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="custom-nav">
    <button class="custom-prev">
      <svg><use href="/img/symbol.svg#"></use></svg>
    </button>

    <button class="custom-next">
      <svg><use href="/img/symbol.svg#"></use></svg>
    </button>
  </div>
</section>
