<section class="design-lab">
  <h1 class="general-title-design-lab">/ Design Lab /</h1>
  <div class="box-stack-design-lab">
    <h2 class="title-stack-design-lab">Stack</h2>
    <div class="box-stack-information-design-lab">
      <ul class="stack-list-design-lab">
        <li>
          <p class="text-stack-design-lab">
            <span class="title-text-stack-design-lab">Design: </span> Figma,
            Adobe Suite, Blender
          </p>
        </li>

        <li>
          <p class="text-stack-design-lab">
            <span class="title-text-stack-design-lab">Animation:</span> After
            Effects, Lottie, Rive
          </p>
        </li>

        <li>
          <p class="text-stack-design-lab">
            <span class="title-text-stack-design-lab">Illustration & 3D:</span>
            Procreate, Blender, Cinema 4D
          </p>
        </li>
      </ul>
      <p class="text-description-stack-design-lab">
        We craft cutting-edge visuals that bring Web3 products to life, making
        them engaging, functional, and visually striking
      </p>
    </div>
  </div>
  <ul class="constructor-design-lab">
    <li class="constructor-box-left-design-lab">
      <p class="constructor-text-left-design-lab">
        Illustration & Motion Design
      </p>

      <picture class="constructor-img-left-design-lab">
        <source
          srcset="/img/design-lab/small-desktop-design-lab-contructor-left.png"
          media="(min-width: 1440px)"
        />
        <source
          srcset="/img/design-lab/tablet-design-lab-contructor-left.png"
          media="(min-width: 769px) and (max-width: 1439px)"
        />
        <source
          srcset="/img/design-lab/mobile-design-lab-contructor-left.png"
          media="(max-width: 768px)"
        />
        <img
          src="/img/design-lab/mobile-design-lab-contructor-left.png"
          alt=""
        />
      </picture>
    </li>

    <li class="constructor-box-down-design-lab">
      <p class="constructor-text-down-design-lab">
        Creative Content & Gamification
      </p>

      <picture class="constructor-img-down-design-lab">
        <source
          srcset="/img/design-lab/small-desktop-design-lab-contructor-down.png"
          media="(min-width: 1440px)"
        />
        <source
          srcset="/img/design-lab/tablet-design-lab-contructor-down.png"
          media="(min-width: 769px) and (max-width: 1439px)"
        />
        <source
          srcset="/img/design-lab/mobile-design-lab-contructor-down.png"
          media="(max-width: 768px)"
        />
        <img
          src="/img/design-lab/mobile-design-lab-contructor-down.png"
          alt=""
        />
      </picture>
    </li>

    <li class="constructor-box-top-design-lab">
      <picture class="constructor-img-top-design-lab">
        <source
          srcset="/img/design-lab/small-desktop-design-lab-contructor-top.png"
          media="(min-width: 1440px)"
        />
        <source
          srcset="/img/design-lab/tablet-design-lab-contructor-top.png"
          media="(min-width: 769px) and (max-width: 1439px)"
        />
        <source
          srcset="/img/design-lab/mobile-design-lab-contructor-top.png"
          media="(max-width: 768px)"
        />
        <img
          src="/img/design-lab/mobile-design-lab-contructor-top.png"
          alt=""
        />
      </picture>
      <p class="constructor-text-top-design-lab">Product & UI/UX Design</p>
    </li>

    <li class="constructor-box-right-design-lab">
      <picture class="constructor-img-right-design-lab">
        <source
          srcset="/img/design-lab/small-desktop-design-lab-contructor-right.png"
          media="(min-width: 1440px) "
        />
        <source
          srcset="/img/design-lab/tablet-design-lab-contructor-right.png"
          media="(min-width: 769px) and (max-width: 1439px)"
        />
        <source
          srcset="/img/design-lab/mobile-design-lab-contructor-right.png"
          media="(max-width: 768px)"
        />
        <img
          src="/img/design-lab/mobile-design-lab-contructor-right.png"
          alt=""
        />
      </picture>
      <p class="constructor-text-right-design-lab">
        Branding & Visual Identity
      </p>
    </li>
    <li>
      <svg class="constructor-icon-cursore-design-lab">
        <use href="/img/symbol.svg#icon-cursore"></use>
      </svg>
    </li>
  </ul>
</section>
