<section class="partner-section">
  <img
    class="partner-top-img-bg"
    src="../../img/partner/partner-small-desktop-bg-top.png"
    alt=""
  />
  <div class="partner-main">
    <div class="partner-main-content">
      <h2 class="partner-main-title">
        We’re always on the lookout
        <span class="partner-main-pixel-text">for</span> an interesting
        <span class="partner-main-custom-title">[ˈprɒdʒekt]</span>
      </h2>
      <p class="partner-main-text">
        If you are a founder with an idea for <br />your own web3 project or
      </p>
      <button class="partner-talk-button" type="button">Let’s talk!</button>
      <p class="partner-main-text">
        If you are the founder of a successful project and need outsourcing
        solutions
      </p>
    </div>
  </div>
</section>
