<section>
  <div class="we-build container">
    <div class="content-we-build">
      <p class="text-we-build">/ We Build</p>
      <img
        src="/img/we-build/logo-large.png"
        alt="logo"
        class="logo-we-build"
      />
      <p class="text-description-webild">
        /frʌm ˈblɒk.tʃeɪn æps tuː ˌeɪ.aɪ-ˈdrɪv.ən səˈluː.ʃənz, wiː bɪld ðə nekst
        ˌʤɛn.əˈreɪ.ʃən ʌv ˌdiːˈsɛn.trə.laɪzd tɛkˈnɒl.ə.dʒi/
      </p>
    </div>
  </div>
  <img class="picture-we-bild" src="/img/we-build/we-build-down.png" />
</section>
